@**
  * flashメッセージ表示エリア.
  * サーバーから渡されたSuccess/Errorメッセージを表示する.
  *@

@(message: Option[String])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import constant.Constant

<script type="text/javascript">
/* bootstrap alertをx秒後に消す */
$(function() {
    $('.alert').delay(3000).fadeOut(500);
});
</script>

@request.flash.get(Constant.MSG_SUCCESS).orElse(message).map{msg =>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@Html(msg)</strong>
</div>
}
@request.flash.get(Constant.MSG_ERROR).map{msg =>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@msg</strong>
</div>
}
