@*
 * メモ作成画面.
*@
@(memoForm: Form[forms.MemoForm], count: Option[Int])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, flash:Flash)
@import helper._

@main("メモ作成・編集画面"){

<script type="text/javascript">
	$(function(){
	    // 初期表示時点の文字数
		var initLength = $('textarea#db_content').val().length;
	    $('span#inputLength').text(initLength)
	    // 入力中の文字数
	    $('textarea#db_content').on('load keydown keyup keypress change', function(){
	        var inLength = $(this).val().length;
	        $('span#inputLength').text(inLength)
	    })
	    // 経過時間カウント
	    var sec = 0;
	    setInterval(function(){
	        $('span#elapsedTime').text(++sec);
	    },1000);
	});

</script>
    @if(memoForm("command").value.getOrElse("")=="C") {
        <p>メモ作成</p>
    }else{
        <p>メモ編集</p>
    }

    <div>
    @form(action=routes.EditThoughtMemoController.register()){
        <input type="hidden" name="command" value="@memoForm("command").value">
        <input type="hidden" name="db.id" value="@memoForm("db.id").value">

        @(inputText(
            memoForm("db.title"),
            '_label -> "タイトル"
        ))
        @(inputDate(
            memoForm("db.createDate"),
            '_label -> "日付",
            'readonly -> true
        ))
        @input(
            memoForm("db.content"),
            '_label -> "本文"
        ) {(id, name, value, args)  =>
            <textarea id="@id" name="@name" cols="100" rows="5" @toHtmlArgs(args)>@value</textarea>
        }
        <p><span id="inputLength">0</span>文字</p>
        @* CREATE時のみ日毎の作成数、経過時間表示 *@
        @if(memoForm("command").value.getOrElse("")=="C"){
            <p>本日@{count.getOrElse(0)+1}つめのメモです。</p>
            <p><span id="elapsedTime"></span>秒経過</p>
        }

        <input type="submit" value="登録"></input>
    }
    </div>
}