@*
 * メモ一覧画面.
*@
@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper._

@main("メモ一覧"){
<script type="text/javascript">
    $(function(){
        $('#submitCondition').click(function(){
            var conditionTitle = $('#conditionTitle').val();
            var conditionContent = $('#conditionContent').val();
            var conditionDateFrom = $('#conditionDateFrom').val();
            var conditionDateTo = $('#conditionDateTo').val();
            var jsondata = {
                "conditionTitle": conditionTitle,
                "conditionContent": conditionContent,
                "conditionDateFrom": conditionDateFrom,
                "conditionDateTo": conditionDateTo
            };
            $.ajax({
                url: "@routes.ApplicationController.searchMemo",
                type: 'POST',
                data: jsondata,
                complete: function(result){
                    var htmlStr = "<tr><th>削除</th><th>タイトル</th><th>内容</th><th>作成日</th></tr>";
                    var resArr = result.responseJSON;
                    for (var i = 0; i < resArr.length; i++) {
                        var content = resArr[i].content.replace(/\r\n/g,'<br>');
                        htmlStr +=
                            "<tr><td>"
                            + "<button class='memoRow' id='" + resArr[i].id + "'>×</button></td><td>"
                            + "<a href='/edit/" + resArr[i].id + "'>" + resArr[i].title + "</a></td><td>"
                            + content + "</td><td>"
                            + resArr[i].createDate + "</td></tr>";
                    }

                    $('#searchResult').html(htmlStr);
                    $('#resultCount').html("<span id='resArrCount'>" + resArr.length + "</span><span>件</span>");
                }
            });
        });

    });
    $(document).on('click', '.memoRow', (function(){
        var jsondata = {
            "id": this.id
        };
        var node = this;
        $.ajax({
            url: "@routes.ApplicationController.deleteMemo",
            type: 'POST',
            data: jsondata,
            success: function(result){
                // 行削除
                $(node).parents("tr").remove();
                var count = Number($('#resArrCount').text()) - 1;

                $('#resArrCount').html(count);
            }
        });
    }));
</script>
<div class="page-header">
    <h3>メモ一覧</h3><small><a href="@routes.EditThoughtMemoController.displayEdit(0)">新規作成</a></small>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><a data-toggle="collapse" href="#result-collapse">検索条件</a></div>
    <div class="panel-body panel-collapse collapse in" id="result-collapse">
        <table>
            <tr>
                <td>
                    <label for="conditionTitle">タイトル</label>
                    <input id="conditionTitle" type="text" class="form-control input-sm">
                </td>
                <td></td>
                <td>
                    <label for="conditionContent">本文</label>
                    <input id="conditionContent" type="text" class="form-control input-sm">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="conditionDateFrom">日付</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="conditionDateFrom" type="date" class="form-control input-sm">
                </td>
                <td>
                    〜
                </td>
                <td>
                    <input id="conditionDateTo" type="date" class="form-control input-sm">
                </td>
            </tr>
        </table>
        <button id="submitCondition" class="btn btn-default btn-sm">検索</button>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">検索結果 <span class="badge" id="resultCount"></span></div>

    <table id="searchResult" class="table table-striped table-hover table-sm table-responsible"></table>
</div>
}